.profile {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 50px;
  align-items: center;
  height: 100%;
}

.graphic {
  display: flex;
  flex-direction: column;
  gap: 20px;
}