.profile__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profile__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid gray;
  border-width: 0 0 1px 0;
  padding-bottom: 10px;
}

.profile__item--universities, .profile__item--universities ul, li {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
}

.university__list li {
  border: 1px solid #000;
  border-radius: 8px;
  padding: 3px 7px 0 7px
}